@font-face {
    font-family: myFont;
    src: url(/slkscre.ttf);}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
   background-color: #44add1 ;
   display: flex;
  justify-content: center;
   align-items:center;
}
.calculator {
    
    background-color: #182b51 ;
    border: 1px solid #070606;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    height: 800px;
    border-radius: 55px;
}
.screen{
    padding: 30px;
}
.screen input{
    height: 200px;
    width: 550px;
    text-align: right;
    font-family: 'myFont';
    border-radius: 25px;
    font-size: xxx-large;
    background-color: rgb(225, 146, 43);
    
    

}
.box{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-content: space-evenly;
}
button{
    width: 20%;
    height: 12vh;
    margin: 5px;
    cursor: pointer;
    border-radius: 25px;
    background-image:linear-gradient(270deg,#ffffff,#a3a6a7 );
    font-size: x-large;
    
 
}
button:hover{
    background-image:linear-gradient( 0deg,#000000,#938c8c );
    border: none;
    color: #ffffff;
}